<:Title>
  Home

<:Body>
  <h1>Home</h1>
  {{ if Volt.current_user }}
    <div class="row">
      <div class="col-md-4">
        {{ _users.each do |user| }}
          {{ if user != Volt.current_user }}
            <div class="contact  {{ if params._user_id == user._id }} active {{ end }}" e-click="select_conversation(user)">
              {{ user._name }}
            </div>
          {{ end }}
        {{ end }}
      </div>
      {{ if params._user_id }}
        <div class="col-md-8 well conversation">
          {{ current_conversation.each do |message| }}
            <div class="message {{ if message._sender_id == Volt.current_user._id }} sent {{ end }}">
              <p>{{ message._text }}</p>
            </div>
          {{ end }}

          {{ if current_conversation.count == 0 }}
            <p>You have no messages yet, start chatting!!!</p>
          {{ else }}
            <div class="clearfix"></div>
          {{ end }}

          <form e-submit="send_message" role="form">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Write a message" value="{{ page._new_message }}" />
            </div>
          </form>
        </div>
      {{ end }}
    </div>
  {{ else }}
    <p>Log in or register in order to access chat.</p>
  {{ end }}

